{% extends 'socialbase.html' %}

{% block title %}Set Password{% endblock %}
{% block js %}{% endblock %}

{% block ghostright %}
<div class="overlay-panel overlay-right">
    <h1>Set Your Password</h1>
    <p>If you need to set a password, this is the place to be! Enter a password, and you'll be on your way</p>
</div>
{% endblock %}

{% block solidleft %}
<div class="form-container sign-in-container">
    <form method="POST" action="{% url 'account_set_password' %}">
        <h1>Set Password</h1>
        <br>
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit">Set Password</button>
    </form>
</div>
{% endblock %}