{% extends "socialbase.html" %}

{% block title %}Verify Your E-mail Address{% endblock %}

{% block solidright %}
<div class="form-container sign-up-container">
    <form method="get" action="{% url 'index' %}">
        <p style="color: #FFFFFF;">We have sent an e-mail to you for
verification. Please click on the link inside this e-mail. Please
contact us if you do not receive it within a few minutes</p>
        <button>Take Me Home</button>
    </form>
</div>
{% endblock %}

{% block solidleft %}
<div class="form-container sign-in-container">
    <form action="#">
        <h1>Hold It Right There!</h1>
    </form>
</div>
{% endblock %}

{% block ghostleft %}
<div class="overlay-panel overlay-left">
    <p>This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address</p>
    <button class="ghost" id="signIn">Go Back</button>
</div>
{% endblock %}

{% block ghostright %}
<div class="overlay-panel overlay-right">
    <h1>Are You... You?</h1>
    <p>You have to verify your email to access this!</p>
    <button class="ghost" id="signUp">Why Am I Seeing This?</button>
</div>
{% endblock %}