{% extends "socialbase.html" %}

{% block title %}Signup{% endblock %}
{% block js %}{% endblock %}

{% block ghostright %}
<div class="overlay-panel overlay-right">
    <h1>Almost There...</h1>
    <p>{% with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form.{% endwith %}</p>
</div>
{% endblock %}

{% block solidleft %}
<div class="form-container sign-in-container">
    <form method="post" action="{% url 'socialaccount_signup' %}">
        <h1>Sign Up</h1>
        <br>
        {% csrf_token %}
        {{ form }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <br>
        <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}