{% extends 'discord_logview/loadingbase.html' %}
{% load static %}
{% block title %}Create A Log{% endblock %}
{% block extra_css %}<link rel='stylesheet' href="{% static 'discord_logview/css/create_form.css' %}">{% endblock %}
{% block extra_js %}<script src="{% static 'discord_logview/js/create_form.js' %}"></script>{% endblock %}
{% block messages %}
<div id="message-container" class="messagesWrapper-3lZDfY group-spacing-0">
    <div class="messages-3amgkR infinite-container">
        <div class="message-2qnXI6 cozyMessage-3V1Y8y groupStart-23k01U wrapper-2a6GCs cozy-3raOZG zalgo-jN1Ica">
            <div class="contents-2mQqc9">
                <img src="https://cdn.discordapp.com/embed/avatars/0.png" class="threads-avatar-hack avatar-1BDn8e clickable-1bVtEA" alt=" ">
                <h2 class="header-23xsNx threads-header-hack"><span class="username-1A8OIy clickable-1bVtEA focusable-1YV_-H" title="Discord Log Viewer#0000">Discord Log Viewer</span><span class="timestamp-3ZCmNB"><time datetime="{{ iso }}">Today</time></span></h2>
                <form name="logForm" action="{% url 'new' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_erorrs }}
                    <div class="option-box first">
                        <div class="option-left">Log File:</div>
                        <div class="option-right">
                            {{ form.url.errors }}
                            <label>{{ form.url }}</label>
                            <div class="option-right-small">
                                Or choose a file:
                            {{ form.file }}</div>
                        </div>
                        <div class="option-hint">
                            This is the file you got from the bot. Drag and drop is enabled over the file field.
                        </div>
                    </div>
                    <div class="option-box">
                        <div class="option-left">
                            Log Type:
                        </div>
                        <div class="option-right">
                            {{ form.type.errors }}
                            <label>{{ form.type }}</label>
                        </div>
                        <div class="option-hint">
                            This is where you got the log from. This is important because it tells the parser how to parse!
                        </div>
                    </div>
                    <div class="option-box">
                        <div class="option-left">
                            Privacy Settings:
                        </div>
                        <div class="option-right">
                            {{ form.privacy.errors }}
                            {{ form.privacy }}
                        </div>
                        <div class="option-hint">
                            Who can access this log.
                            <ul>
                                <li><b>Public</b> - Anyone with the link can view.</li>
                                <li><b>Guild Only</b> - Only guild members can view.</li>
                                <li><b>Mods Only</b> - Only guild members with manage messages can view.</li>
                                <li><b>Invite Only</b> - Only people that have been invited to view the log can view.</li>
                            </ul>
                        </div>
                    </div>
                    <div id="guild-div" class="option-box">
                        <div class="option-left">
                            Linked Guild:
                        </div>
                        <div class="option-right">
                            {{ form.guild.errors }}
                            <label>{{ form.guild }}</label>
                        </div>
                        <div class="option-hint">
                            Which guild to link this log to. <b><u>This is required if you have selected "Guild Only" or "Mods Only".</u></b>
                        </div>
                    </div>
                    <div class="option-box">
                        <div class="option-left">
                            Expiration:
                        </div>
                        <div class="option-right">
                            {{ form.expires.errors }}
                            <label>{{ form.expires }}</label>
                        </div>
                        <div class="option-hint">
                            How long this log will last on our servers before it is deleted.
                        </div>
                    </div>
                    <input id="preview-button" type="submit" name="submit_type" value="Preview" class="button">

                    <input id="submit-button" type="submit" name="submit_type" value="Convert" class="button">
                    <div class="option-hint">
                        Previewing a log offers a <a href="https://en.wikipedia.org/wiki/WYSIWYG">WYSIWYG option</a>, where you can decide whether or not you want to save it. It cannot be shared.
                        Converting a log will save it to our database, allowing other people to view it.
                    </div>
                    <div class="bottom-hint">
                        <div>
                            If you find this helpful, please <a href="https://www.patreon.com/logview">support me on Patreon!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
