<!DOCTYPE html>
<html lang="en" class="mouse-mode full-motion app-focused theme-dark">
<head>
    <title>{% block title %}{% endblock %}</title>
    <base href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}">
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="og:title" content="Discord Log Viewer">
    <meta name="og:description" content="Beautify your Discord Logs">
    <meta name="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'discord_logview/icons/black_file.png' %}">

    <!-- General Discord Styling !-->
    <link rel="stylesheet" href="https://canary.discordapp.com/assets/0.ac72fa632985bb1ede44.css">
    <script>
        if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
            document.documentElement.style.display = 'none';
            document.head.insertAdjacentHTML(
                'beforeend',
                '<link rel="stylesheet" class="theme" href="{% static "discord_logview/css/logs_dark.css" %}" onload="document.documentElement.style.display = \'\'">'
            );
        }
    </script>
    <link rel="stylesheet" class="theme" href="{% static "discord_logview/css/logs_dark.css" %}" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: dark)">
    <link rel="stylesheet" class="theme" href="{% static "discord_logview/css/logs_light.css" %}" media="(prefers-color-scheme: light)">
    <link href="{% static "discord_logview/css/logs.css" %}" rel="stylesheet">

    <!-- Discord Code Block Styling !-->
    <script>
        if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
            document.documentElement.style.display = 'none';
            document.head.insertAdjacentHTML(
                'beforeend',
                '<link rel="stylesheet" class="hl_theme" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/solarized-dark.min.css" onload="document.documentElement.style.display = \'\'">'
            );
        }
    </script>
    <link class="hl_theme" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/solarized-dark.min.css"
          rel="stylesheet" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: dark)">
    <link class="hl_theme" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/solarized-light.min.css"
          rel="stylesheet" media="(prefers-color-scheme: light)">

    <!-- Extraneous Styling !-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'discord_logview/icons/favicon.png' %}">
    <link rel="stylesheet" href="{% static "discord_logview/css/alerts.css" %}">
    {% block extra_css %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.js"></script>
    {% if log.chunked %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.5/infinite-scroll.pkgd.min.js"></script>
    {% endif %}
        <script>const uid = '{{ log.user_id }}';</script>
    {% if not export %}
        <script src="{% static 'discord_logview/js/alert.js' %}"></script>
    {% endif %}
    <script src="{% static 'discord_logview/js/logs.js' %}"></script>
</head>
<body class="no-js"{% if export %} style="margin-top: 20px"{% endif %}>
    {% if log.type == "logger" %} {# Patrons, smh #}
    <!--
    hahayes
         _
       _| |
     _| | |
    | | | |
    | | | | __
    | | | |/  \
    |       /\ \
    |      /  \/
    |      \  /\
    |       \/ /
     \        /
      |     /
      |    |
    !-->
    {% endif %}
    {% if not export %}
        {% include 'discord_logview/navbar.html' %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endif %}
    <div id="header">
        <div id="header-icon-container">
            {% block header-icon %}{% endblock header-icon %}
        </div>
        <div id="header-data">
            {% block header-data %}{% endblock header-data %}
        </div>
        {% block far-buttons %}{% endblock %}
    </div>
    {% block messages %}{% endblock messages %}
    {% block extra_js %}{% endblock %}
    <div id="copyright">
        <div>Made with blood, sweat, and Django by <a href="https://github.com/EJH2">EJH2</a></div>
        <div>Discord Log Viewer is not affiliated with Discord, which is a registered trademark of Discord Inc.</div>
    </div>
</body>
</html>