{% extends 'discord_logview/logbase.html' %}
{% load static %}
{% block title %}Discord Log{% endblock %}
{% block header-icon %}
    <img id="header-icon"
        {% if log.raw_type %}
            {# By patron request #}
            {% if log.raw_type != 'melanie' %}
                {% with 'discord_logview/images/'|add:log.raw_type|lower|add:'.png' as image_static %} src="{% static image_static %}" {% endwith %}
            {% else %}
                {% with 'discord_logview/images/melanie.gif' as image_static %} src="{% static image_static %}" {% endwith %}
            {% endif %}
        {% else %}
            src="{% static 'discord_logview/icons/white_file.png' %}"
        {% endif %}
         onerror="this.src='{% static 'discord_logview/icons/white_file.png' %}'; this.onerror = ''" alt="">
{% endblock %}
{% block header-data %}
    <div id="log-type">
        <span>{% if log.is_preview %}Preview Of{% else %}Logs From{% endif %} {% if log.type %}{{ log.type }}{% else %}File{% endif %}</span>
    </div>
    {% if log.created %}
    <div id="log-created-at"><span>Created:</span> <b>{{ log.human_created }}</b></div>
    {% endif %}
    <div id="message-count"><span>Message Count:</span> <b>{{ log.total_messages }}</b></div>
    <div id="user-list">
        {% if log.users %}
            <span>User{% if log.users|length != 1 %}s: {% else %}: {% endif %}</span>
            <label id="user-list-toggle" class="material-icons">
                <input type="checkbox" onclick="return toggleUsers()">
                arrow_right
            </label>
            <ul id="users">
                <li id="copyall">
                    <span class="tooltip">
                        <span class="tooltiptext pre--inline copy permanent" onclick="return copyAll(this)">Copy All User IDs</span>
                    </span>
                </li>
                {% for user in log.users %}
                    <li class="user tooltip">
                        <span{% if not user.id %} class="user-name error"{% else %} class="user-name" onclick="return copyID(this.parentElement)"{% endif %}>
                            <b>{{ user.username|escape }}</b>#{{ user.discriminator }}
                            {% if user.bot %}
                                <span class="botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf"><span class="botText-1526X_">BOT</span></span>
                            {% endif %}
                        </span>
                        <span class='tooltiptext pre--inline id'>{{ user.id }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span>No Users</span>
        {% endif %}
    </div>
{% endblock %}
{% block far-buttons %}
    {% if log.is_preview %}
    <div class="far-button-container">
        <a href="{% url 'log-preview-save' pk=log.uuid %}" class="material-icons icon-large far-button" title="Save Log">save</a>
    </div>
    {% endif %}
    {% if log.delete_token %}
    <div class="far-button-container">
        <a href="{% url 'log-delete' pk=log.uuid %}?token={{ log.delete_token }}" class="material-icons icon-large far-button" title="Delete Log">delete_outline</a>
    </div>
    {% endif %}
{% endblock %}
{% block messages %}
    {% include 'discord_logview/messages.html' %}
{% endblock %}