DB_NAME: postgres
DB_USER: postgres
DB_PASSWORD: supersecure
DB_HOST: database
REDIS_PASSWORD: secureredis
REDIS_HOST: redis
REDIS_PORT: 6379
REDIS_DB: 0
SECRET_KEY: pp
DEBUG: true
ALLOWED_HOSTS: localhost, 0.0.0.0, 127.0.0.1
EMAIL_USE_TLS: false
EMAIL_HOST: email
EMAIL_HOST_USER: email
EMAIL_HOST_PASSWORD: secureemail
DEFAULT_FROM_EMAIL: logs@discord.website
EMAIL_PORT: 143
DISCORD_TOKEN: Bot get ur own
