celery==5.2.7
celery-progress==0.0.14
channels==2.3.0
channels-redis==3.0.1
demoji==0.3.0
git+https://github.com/EJH2/dispy-markdown.git
Django==3.1
django-allauth==0.42.0
djangorestframework==3.11.1
drf-yasg==1.17.1
itsdangerous==1.1.0
natural==0.2.0
pendulum==2.1.2
psycopg2==2.9.6
python-decouple==3.3
redis==3.5.3
ruamel.yaml==0.16.10
sentry-sdk==1.14.0
shortuuid==1.0.1