/* === GENERAL === */

body {
    background-color: #F3F3F4;
    color: #747F8D;
}

a, a.chatlog__embed-title {
    color: #00B0F4;
}

.hljs.pre--multiline {
    background-color: #F9F9F9;
}

.pre {
    background-color: #F9F9F9;
}

.pre--multiline {
    border-color: #F3F3F3;
    color: #657B83;
}

.mention {
    background-color: #F1F3FB;
    color: #7289DA;
}

.mention:hover {
    background-color: #7289DA;
    color: #FFF;
}

/* === INFO === */

.tooltip .tooltiptext {
    background-color: #858585;
    color: #000;
}

.material-icons.md-inactive, .material-icons.md-inactive:hover {
    color: rgba(0, 0, 0, 0.26);
}

.info__guild-name {
    color: #000;
}

.info__generated-at span {
    color: #000;
}

.info__channel-message-count span {
    color: #000;
}

.info__user-list {
    color: #2F3136;
}

.info__user-list span {
    color: #000;
}

.info__toolbox-drawer {
    color: #FFF;
}

.material-icons {
    color: #757D8C;
}

.material-icons:hover {
    color: #2F3136;
}

.copied {
    animation: copied 1s ease-in-out;
}

.copied.mention {
    animation: copiedMention 1s ease-in-out;
}

@keyframes copied {
    0% {
        background-color: #858585
    }
    50% {
        background-color: #3a0
    }
    100% {
        background-color: #858585
    }
}

@keyframes copiedMention {
    0% {
        background-color: #7289DA;
        color: #FFF;
    }
    50% {
        background-color: #3A0;
        color: #FFF;
    }
    100% {
        background-color: #7289DA;
        color: #FFF;
    }
}

/* === CHATLOG === */
.chatlog {
    background-color: #FFF;
}

.chatlog__message-group {
    border-color: #ECEEEF;
}

.chatlog__author-name {
    color: #2F3136;
}

.chatlog__timestamp {
    color: #99AAB5;
}

.chatlog__edited-timestamp {
    color: #99AAB5;
}

.chatlog__attachment .horizontal {
    border-color: #F6F6F7;
}

.chatlog__embed-inner {
    background: hsla(0, 0%, 97.6%, .3);
    border: 1px solid hsla(0, 0%, 80.4%, .3);
}

.chatlog__embed-author-name {
    color: #4F545C;
}

.chatlog__embed-author-name-link {
    color: #4F545C;
}

.chatlog__embed-title {
    color: #4F545C;
}

.chatlog__embed-description {
    color: #737F8D;
}

.chatlog__embed-field-name {
    color: #36393E;
}

.chatlog__embed-field-value {
    color: #737F8D;
}

.chatlog__embed-footer {
    color: rgba(79, 83, 91, 0.4);
}

.chatlog__embed-footer-separator {
    color: #CACBCE;
}

.chatlog__spoiler-box.chatlog__spoiler-hidden {
    background-color: #B9BBBE;
}

.chatlog__spoiler-box.chatlog__spoiler-hidden:hover {
    background-color: #C7C8CB;
}

.chatlog__spoiler-box {
    background-color: #E5E5E5;
}

.chatlog__reaction {
    background-color: rgba(79, 84, 92, 0.06);
}

.chatlog__reaction-count {
    color: #99AAB5;
}
