html,
body {
    overflow-x: hidden;
    /* margin: 0; */

    background-color: rgb(54, 57, 63);
    color: #dcddde;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}

p.error {
  color: red;
}

a:hover {
    color: lightskyblue;
    transition: color .15s ease-in;
}

input[type=text]:not(.browser-default) {
    width: 30%;
    color: white;
}

.og-tag {
    background: #2ecc70be;
    font-weight: 600;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.774) !important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.progress {
    width: 30%
}

.private-tag {
    background: #ff1111;
    font-weight: 600;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.774) !important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
