<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log Entry</title>
    <meta charset="utf-8"/>
    {% load static %}
    <meta name="viewport" content="width=device-width"/>
    <meta name="og:title" content="Discord Log Viewer">
    <meta name="og:description" content="Message Count: {{ msg_len }}">
    <meta name="og:image" content="https://{{ request.META.HTTP_HOST }}{% static 'django_logs/icons/black_file.png' %}">
    <link href="{% static "django_logs/css/logstyle.css" %}" rel="stylesheet">
    <link id="theme" href="{% static "django_logs/css/logstyle_dark.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'django_logs/css/alert.css' %}">
    <link id="hl_theme" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/solarized-dark.min.css"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'django_logs/icons/favicon.png' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.5/infinite-scroll.pkgd.min.js"></script>
    <script src="{% static 'django_logs/js/alert.js' %}"></script>
    <script src="{% static 'django_logs/js/logs.js' %}"></script>
</head>
<body class="no-js">
<br>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<div class="info">
    <div class="info__guild-icon-container">
        <img class="info__guild-icon"
            {% if log_type %}
                {% with 'django_logs/images/'|add:log_type|lower|add:'.png' as image_static %} src="{% static image_static %}" {% endwith %}
            {% else %}
                src="{% static 'django_logs/icons/white_file.png' %}"
            {% endif %}
             onerror="this.src='{% static 'django_logs/icons/white_file.png' %}'" alt="avatar">
    </div>
    <div class="info__metadata">
        <div class="info__guild-name">
            <span>Logs From {% if log_entry.type %}{{ log_entry.type }}{% else %}File{% endif %}</span>
        </div>
        {% if log_entry.generated_at %}
            <div class="info__generated-at"><span>Generated:</span>
                <b>{{ log_entry.human_generated_at }}</b></div>{% endif %}
        <div class="info__channel-message-count"><span>Message Count:</span>
            <b>{{ msg_len }}</b></div>
        <div class="info__user-list">
            <span>User{% if log_entry.users|length > 1 %}s: {% else %}: {% endif %}</span>
            <label class="material-icons info__user-toggle">
                <input type="checkbox" style="display: none" onclick="return toggleUsers()">
                arrow_right
            </label>
            <ul class="info__users">
                {% for user in log_entry.users %}
                    <li class="info__user tooltip">
                        <span class="info__user-name"{% if user.id %} onclick="return copyID(this.parentElement)"{% endif %}>
                            <b>{{ user.name | escape }}</b>#{{ user.discriminator }}
                            {% if user.bot %}
                                <span class="bot-tag">BOT</span>
                            {% endif %}
                        </span>
                        <span class='tooltiptext pre pre--inline id'>{{ user.id }}</span>
                    </li>
                {% endfor %}
                {% if log_entry.ids %}
                    <li class="copyall" style="list-style: none">
                        <span class="tooltip">
                            <span class="tooltiptext pre pre--inline copy permanent" onclick="return copyAll(this)" style="opacity: 1;">Copy All IDs</span>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="info__toolbox">
        <label for="toolbox-toggle" class="material-icons icon-large info__toolbox-toggle"
               onclick="return toggleDrawer(this)">
            settings
        </label>
        <input class="toggle-input" id="toolbox-toggle" type="checkbox">
        <ul class="info__toolbox-tools">
            {% if original_url %}
                <li>
                    <div class="tooltip">
                        <a class="material-icons tool" href="{{ original_url }}" target="_blank">open_in_browser</a>
                        <span class="tooltiptext pre pre--inline tool-text">Original URL</span>
                    </div>
                </li>
            {% else %}
                <li>
                    <div class="tooltip">
                        <span class="material-icons md-inactive tool">open_in_browser</span>
                        <span class="tooltiptext pre pre--inline tool-text">No Original URL</span>
                    </div>
                </li>
            {% endif %}
            {% if log_entry.ids %}
                <li>
                    <div class="tooltip">
                        <span class="material-icons tool" onclick="return copyAllMenu(this)">assignment</span>
                        <span class="tooltiptext pre pre--inline tool-text copy">Copy All IDs</span>
                    </div>
                </li>
            {% else %}
                <li>
                    <div class="tooltip">
                        <span class="material-icons md-inactive tool">assignment</span>
                        <span class="tooltiptext pre pre--inline tool-text copy">No IDs To Copy</span>
                    </div>
                </li>
            {% endif %}
            <li>
                <div class="tooltip">
                    <span class="material-icons tool" onclick="return toggleTheme()">brightness_medium</span>
                    <span class="tooltiptext pre pre--inline tool-text">Change Theme</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="chatlog infinite-container">
    {% for group in log_entry.message_groups %}
        <div class="chatlog__message-group infinite-item">
            <div class="chatlog__author-avatar-container">
                <img class="chatlog__author-avatar" src="{{ group.author.avatar_url }}" onerror="this.src='{{ group.author.default_avatar_url }}'" alt="avatar"/>
            </div>
            <div class="chatlog__messages">
                <div class="chatlog__header">
                    <span>
                        <span class="chatlog__author-name" title="{{ group.author | stringformat:"s" | escape }}">{{ group.author.name | escape }}</span>
                        {% if group.author.bot %}
                            <span class="bot-tag">BOT</span>
                        {% endif %}
                    </span>
                    {% if group.created_at %}
                        <time class="chatlog__timestamp" datetime="{{ group.created_at }}">{{ group.human_created_at }}</time>
                    {% endif %}
                </div>
                {% for message in group.messages %}
                    {% if message.content %}
                        <div class="chatlog__content {{ message.error }}">
                            {{ message.content | safe }}
                            {% if message.edited %}
                                <span class="chatlog__edited-timestamp">(edited)</span>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% for embed in message.embeds %}
                        <div class="chatlog__embed">
                            <div class="chatlog__embed-color-pill" style="background-color: {{ embed.color }}"></div>
                            <div class="chatlog__embed-inner">
                                <div class="chatlog__embed-content">
                                    <div class="chatlog__embed-content-inner chatlog__content">
                                        {% if embed.author %}
                                            <div class="chatlog__embed-author">
                                                {% if embed.author.icon_url %}
                                                    <img alt class="chatlog__embed-author-icon" src="{{ embed.author.icon_url }}">
                                                {% endif %}
                                                {% if embed.author.name %}
                                                    {% if embed.author.url %}
                                                        <a class="chatlog__embed-author chatlog__embed-author-name-link chatlog__embed-link" href="{{ embed.author.url }}">{{ embed.author.name }}</a>
                                                    {% else %}
                                                        <span class="chatlog__embed-author-name">{{ embed.author.name }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        {% if embed.title %}
                                            <div class="chatlog__embed-margin">
                                                {% if embed.url %}
                                                    <a class="chatlog__embed-title chatlog__embed-link" href="{{ embed.url }}">{{ embed.title | safe }}</a>
                                                {% else %}
                                                    <span class="chatlog__embed-title">{{ embed.title | safe }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        {% if embed.description %}
                                            <div class="chatlog__embed-description">{{ embed.description | safe }}</div>
                                        {% endif %}
                                        {% if embed.fields|length > 0 %}
                                            <div class="chatlog__embed-fields">
                                                {% for field in embed.fields %}
                                                    <div class="chatlog__embed-field {% if field.inline %}chatlog__embed-field--inline{% endif %}">
                                                        <div class="chatlog__embed-field-name">{{ field.name | safe }}</div>
                                                        <div class="chatlog__embed-field-value">{{ field.value | safe }}</div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if embed.thumbnail %}
                                        <img src="{{ embed.thumbnail.url }}" alt="{{ embed.thumbnail.url }}" class="chatlog__embed-thumbnail" style="max-width: 80px; max-height: 80px">
                                    {% endif %}
                                </div>
                                {% if embed.image %}
                                    <img src="{{ embed.image.url }}" alt="{{ embed.image.url }}" class="chatlog__embed-image chatlog__embed-margin-large">
                                {% endif %}
                                {% if embed.footer or embed.timestamp %}
                                    {% if embed.footer and not embed.timestamp %}
                                        <div class="chatlog__embed-footer">
                                            {% if embed.footer.icon_url %}
                                                <img class="chatlog__embed-footer-icon" src="{{ embed.footer.icon_url }}">
                                            {% endif %}
                                            <span class="chatlog__embed-footer-text">{{ embed.footer.text }}</span>
                                        </div>
                                    {% endif %}
                                    {% if embed.timestamp and not embed.footer %}
                                        <div class="chatlog__embed-footer">
                                            <time class="chatlog__embed-footer-text" datetime="{{ embed.timestamp }}">{{ embed.human_timestamp }}</time>
                                        </div>
                                    {% endif %}
                                    {% if embed.footer and embed.timestamp %}
                                        <div class="chatlog__embed-footer">
                                            {% if embed.footer.icon_url %}
                                                <img class="chatlog__embed-footer-icon" src="{{ embed.footer.icon_url }}">
                                            {% endif %}
                                            <span class="chatlog__embed-footer-text">
                                                {{ embed.footer.text }}
                                                <span class="chatlog__embed-footer-separator">•</span>
                                                <time datetime="{{ embed.timestamp }}">{{ embed.human_timestamp }}</time>
                                            </span>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {% for attachment in message.attachments %}
                        <div class="chatlog__attachment">
                            {% if attachment.is_image %}
                                <a href="#{{ attachment.filename }}">
                                    <img class="chatlog__attachment-thumbnail" src="{{ attachment.url }}" alt="attachment" data-id="{{ attachment.filename }}" onerror="this.src='{% static 'django_logs/icons/dead_attachment.svg' %}'; this.title='attachment unavailable'"/>
                                </a>
                            {% else %}
                                <a href="{{ attachment.url }}">
                                    <div class="horizontal">
                                        <img class="icon" src="{% static 'django_logs/icons/attachment_icon.svg' %}" alt="Attachment file type: unknown" title="unknown">
                                        <div class="chatlog__attachment-inner">
                                            <div class="filename-link">
                                                <a class="filename-link-inner" href="{{ attachment.url }}">{{ attachment.filename }}</a>
                                            </div>
                                            <div class="chatlog__attachment-size">{{ attachment.size }}</div>
                                        </div>
                                        <a class="filename-link-inner" href="{{ attachment.url }}">
                                            <svg name="Download" class="chatlog__attachment-download" width="24" height="24" viewBox="0 0 24 24">
                                                <g fill="none" fill-rule="evenodd">
                                                    <path d="M0 0h24v24H0z"></path>
                                                    <path class="fill" fill="currentColor" d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"></path>
                                                </g>
                                            </svg>
                                        </a>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% if msg_page.has_next %}
    <div class="infinite-next">
        <a class="infinite-more-link" href="{{ short }}?page={{ msg_page.next_page_number }}"></a>
    </div>
    <div class="infinite-scroll-status" style="text-align: center">
        <img class="infinite-scroll-request" src="{% static 'django_logs/icons/loading.gif' %}" alt="">
    </div>
{% endif %}
<div id="lightbox_div"></div>
{% if uid %}
<script>
    for (let s of document.querySelectorAll('span.mention')) {
        if (s.title === '{{ uid }}') {
            s.classList.add('mentioned');
        }
    }
</script>
{% endif %}
</body>
</html>