.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert.disappearing {
    animation: disappearing 2s ease-out;
}

@keyframes disappearing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.alert-info {
    color: #041f85;
    background-color: #8db3f5;
    border-color: #5c6db3;
}

.alert-success {
    color: #04851b;
    background-color: #8df59a;
    border-color: #5cb368;
}

.alert-warning {
    color: #856404;
    background-color: #fff3CD;
    border-color: #B39E5C;
}

.alert-error {
    color: #850404;
    background-color: #f17e7e;
    border-color: #b35c5c;
}
