/* === GENERAL === */

body {
    background-color: #2F3135;
    color: rgba(255, 255, 255, 0.7);
}

.info__metadata b {
    color: #FFFFFF;
}

a, a.chatlog__embed-title {
    color: #0096CF;
}

.hljs.pre--multiline {
    background-color: #2F3136;
}

.pre {
    background-color: #2F3136;
}

.pre--multiline {
    border-color: #282B30;
    color: #839496;
    max-width: 90%;
}

.mention {
    background-color: rgba(114, 137, 218, .1);
    color: #7289DA;
}

.mention:hover:not(.mentioned) {
    background-color: rgba(114, 137, 218, .7);
    color: #FFF;
}

.mentioned {
    background: rgba(250,166,26,.1);
}

/* === Navbar === */

nav {
    background-color: #36393F;
    color: #FFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2),
        0 1.5px 0 rgba(0, 0, 0, .05),
        0 2px 0 rgba(0, 0, 0, .05);
}

nav span>a,
nav span>div {
    color: #FFF;
}

@media screen and (max-width: 500px) {
    nav .tooltip .tooltiptext.tool-text {
        background-color: #282B30;
        border-top: 1px solid rgba(245, 245, 245, 0.08);
    }
}

/* === INFO === */

.tooltip .tooltiptext {
    background-color: #555;
    color: #FFF;
}

.material-icons.md-inactive, .material-icons.md-inactive:hover {
    color: rgba(255, 255, 255, 0.3);
}

.info__guild-name {
    color: #FFF;
}

.info__generated-at span {
    color: #FFF;
}

.info__channel-message-count span {
    color: #FFF;
}

.info__user-list {
    color: rgba(255, 255, 255, 0.6);
}

.info__user-list span {
    color: #FFF;
}

.info__toolbox-drawer {
    color: #FFF;
}

.material-icons {
    color: #C2C2C4;
}

.material-icons:hover {
    color: white;
}

.copied {
    animation: copied .5s ease-out;
}

.copied.mention {
    animation: copiedMention .5s ease-out;
}

@keyframes copied {
    0% {
        background-color: #555
    }
    50% {
        background-color: #3A0
    }
    100% {
        background-color: #555
    }
}

@keyframes copiedMention {
    0% {
        background-color: rgba(114, 137, 218, .7);
        color: #FFF;
    }
    50% {
        background-color: #3A0;
        color: #FFF;
    }
    100% {
        background-color: rgba(114, 137, 218, .7);
        color: #FFF;
    }
}

/* === CHATLOG === */

.chatlog__message-group {
    border-color: rgba(255, 255, 255, 0.04);
}

.chatlog__author-name {
    color: #FFF;
}

.chatlog__timestamp {
    color: rgba(255, 255, 255, 0.2);
}

.chatlog__edited-timestamp {
    color: rgba(255, 255, 255, 0.2);
}

.chatlog__attachment .horizontal {
    background-color: rgba(47, 49, 54, .3);
    border-color: rgba(47, 49, 54, .6);
}

.chatlog__attachment .filename-link {
    color: rgba(0, 176, 244, .85);
}

.chatlog__attachment .filename-link-inner {
    color: #00B0F4;
}

.chatlog__embed-inner {
    background-color: rgba(46, 48, 54, .3);
    border: 1px solid rgba(46, 48, 54, .6);
}

.chatlog__embed-author-name {
    color: #FFF;
}

.chatlog__embed-author-name-link {
    color: #FFF;
}

.chatlog__embed-title {
    color: #FFF;
}

.chatlog__embed-description {
    color: rgba(255, 255, 255, 0.6);
}

.chatlog__embed-field-name {
    color: #FFF;
}

.chatlog__embed-field-value {
    color: rgba(255, 255, 255, 0.6);
}

.chatlog__embed-footer {
    color: rgba(255, 255, 255, 0.6);
}

.chatlog__embed-footer-separator {
    color: #4F545C;
}

.chatlog__spoiler-box.chatlog__spoiler-hidden {
    background-color: #202225;
}

.chatlog__spoiler-box.chatlog__spoiler-hidden:hover {
    background-color: #24262A;
}

.chatlog__spoiler-box {
    background-color: rgba(255, 255, 255, 0.01);
}

blockquote {
    border-color: #4f545c;
}

.chatlog__reaction {
    background-color: rgba(255, 255, 255, 0.01);
}

.chatlog__reaction-count {
    color: rgba(255, 255, 255, 0.3);
}
