<!DOCTYPE html>
{% load static %}
<html lang="en-US">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'discord_logview/css/error.css' %}">
</head>
<body>
      <div>
          <div>
              <div style="flex-shrink:1;flex-grow:1;flex-basis:auto;background-color: #2F3135;" class="flex flex-horizontal flex-justify-center flex-align-center flex-wrap page-wrap">
                  <div class="text-section">
                      <div class="glitch-wrapper">
                          <div class="glitch" data-text="{% block data-text %}{% endblock %}">
                              {% block glitch-content %}{% endblock %}
                          </div>
                      </div>
                      <h4 class="margin-top-8 margin-bottom-8 header weight-bold">{% block header-content %}{% endblock %}</h4>
                      <div class="suggestion-text weight-light">{% block suggestion-text %}{% endblock %}</div>
                      <ul class="links-section">
                          {% block links %}
                          <li>
                              <a class="links" href="{% url 'index' %}">Take Me Home</a>
                          </li>
                          {% endblock %}
                      </ul>
                  </div>
              </div>
          </div>
      </div>
</body>
</html>