<!DOCTYPE html>
{% load static %}
<html lang="en-US">
<head>
    <title>{{ status }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'discord_logview/css/error.css' %}">
</head>
<body>
    <div>
        <div>
            <div class="flex flex-horizontal flex-justify-center flex-align-center flex-wrap page-wrap">
                <div class="text-section">
                    <div class="error">{{ status }}</div>
                    {% if subtext %}<div class="suggestion-text">{{ subtext }}</div>{% endif %}
                    <div class="suggestion-text weight-light">{{ suggestion | safe }}</div>
                    <ul class="links-section">
                        <li>
                            <a class="links" href="{% url 'index' %}">Take Me Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>