{% extends 'socialbase.html' %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block solidright %}
<div class="form-container sign-up-container">
    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <p>
            <a style="color:white;" href="{% url 'account_reset_password' %}">Forgot Password?</a><br>
        </p>
        <button type="submit">Sign In</button>
    </form>
</div>
{% endblock %}

{% block solidleft %}
<div class="form-container sign-in-container">
    <form method="GET" action="{% provider_login_url 'discord' %}">
        <h1>Sign In</h1>
        <br>
        <button>Discord</button>
        <a id="signUp" href="#">Use Password Form</a>
    </form>
</div>
{% endblock %}

{% block ghostleft %}
<div class="overlay-panel overlay-left">
    <h1>Shh!</h1>
    <p>This form is for spoopy users only! Beware!</p>
    <button class="ghost" id="signIn">Go Back</button>
</div>
{% endblock %}

{% block ghostright %}
<div class="overlay-panel overlay-right">
    <h1>Hello, Friend!</h1>
    <p>Signing in with your Discord account gives you access to more features</p>
    <a href="{% url 'perks' %}"><button class="ghost">Perks</button></a>
</div>
{% endblock %}