{% extends 'socialbase.html' %}

{% block title %}Logout{% endblock %}

{% block solidright %}
<div class="form-container sign-up-container">
    <form action="#">
        <h1>Perks</h1>
        <ul style="text-align: left;">
            <li>Extended log expiration times</li>
            <li>Manage created logs</li>
            <li>Increased log sizes</li>
            <li>Access to API</li>
            <li>Log analytics</li>
        </ul>
    </form>
</div>
{% endblock %}

{% block solidleft %}
<div class="form-container sign-in-container">
    <form method="post" action="{% url 'account_logout' %}">
        <h1>Come Back Soon!</h1>
        <br>
        <button>Sign Out</button>
    </form>
</div>
{% endblock %}

{% block ghostleft %}
<div class="overlay-panel overlay-left">
    <h1>You're Missing Out...</h1>
    <p>Staying logged in gives you access to some great features; try it!</p>
    <button class="ghost" id="signIn">Go Back</button>
</div>
{% endblock %}

{% block ghostright %}
<div class="overlay-panel overlay-right">
    <h1>Hello, {{ user.get_username }}!</h1>
    <p>Staying logged in gives you access to more features</p>
    <button class="ghost" id="signUp">Check It Out</button>
</div>
{% endblock %}