{% extends 'socialbase.html' %}

{% block title %}Change Password{% endblock %}
{% block js %}{% endblock %}

{% block ghostright %}
<div class="overlay-panel overlay-right">
    <h1>Change Your Password</h1>
    <p>If you need a new password, this is the place to be! Enter a new password, and you'll be on your way</p>
</div>
{% endblock %}

{% block solidleft %}
<div class="form-container sign-in-container">
    <form method="POST" action="{% url 'account_change_password' %}">
        <h1>Change Password</h1>
        <br>
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit">Change Password</button>
    </form>
</div>
{% endblock %}