{% extends "socialbase.html" %}

{% block title %}Reset Password{% endblock %}
{% block js %}{% endblock %}

{% block ghostright %}
<div class="overlay-panel overlay-right">
    <h1>Whoops!</h1>
    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
</div>
{% endblock %}

{% block solidleft %}
<div class="form-container sign-in-container">
    <form method="POST" action="{% url 'account_reset_password' %}">
        <h1>Password Reset</h1>
        <br>
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit">Reset My Password</button>
    </form>
</div>
{% endblock %}
