{% extends 'socialbase.html' %}

{% block title %}Perks{% endblock %}
{% load static %}

{% block ghostright %}
<div class="overlay-panel overlay-right">
    <h1>Perks</h1>
    <ul style="text-align: left;">
        <li>Extended log expiration times</li>
        <li>Manage created logs</li>
        <li>Increased log sizes</li>
        <li>Access to API</li>
        <li>Log analytics (coming soon!)</li>
    </ul>
    <br>
    <p>However... Patrons get even more cool stuff!</p>
    <button id="signUp" class="ghost">Check it out!</button>

</div>
{% endblock %}

{% block solidleft %}
<div class="form-container sign-in-container">
    <form method="GET" action="{% url 'account_login' %}">
        <h1>Check It Out!</h1>
        <br>
        <p style="color:white;">These are all the features you'd have access to if you sign up!</p>
        <br>
        <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}

{% block solidright %}
<div class="form-container sign-up-container">
    <form>
        <h1>Patreon Supporters</h1>
        <ul class="patreon-supporters" style="list-style: none;">
            <li style="text-align: center;">jagrosh#4824</li>
            <li style="text-align: center;">James Bond#0007</li>
            <li style="text-align: center;">Eagle#3636</li>
            <li style="text-align: center;">Minimh#7719</li>
        </ul>
    </form>
</div>
{% endblock %}

{% block ghostleft %}
<div class="overlay-panel overlay-left">
    <h1>Become a Patron!</h1>
    <p>We offer more perks to generous people, who can donate here!</p>
    <a href="https://www.patreon.com/bePatron?u=2802418"><img style="border-radius: 26px" alt="Become a Patron Today!" src="{% static 'django_logs/icons/become_a_patron_button.png' %}"></a>
    <button class="ghost patreon-supporters" id="signIn">Go Back</button>
</div>
{% endblock %}
