{% extends "socialbase.html" %}

{% block title %}Verify E-mail Address{% endblock %}
{% block js %}{% endblock %}

{% block ghostright %}
<div class="overlay-panel overlay-right">
    <h1>Verify E-mail Address</h1>
    <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes</p>
</div>
{% endblock %}

{% block solidleft %}
<div class="form-container sign-in-container">
    <form method="get" action="{% url 'index' %}">
    {% csrf_token %}
        <h1>Take Me Home</h1>
        <br>
        <button>Home</button>
    </form>
</div>
{% endblock %}